include AUTHORS
include CHANGES
include LICENSE
include COPYING.LGPLv3
include requirements.txt
include autoreports/locale/*/LC_MESSAGES/*.*
include autoreports/templates/autoreports/*.*
include autoreports/templates/autoreports/admin/*.*
include autoreports/templates/autoreports/fields/*.*
exclude *~
exclude *.pyc
