ul li {
    list-style-type: none;
}

form.report ul li label {
    float: none;
    width: auto;
}

form.report table {
    width: 100%;
    border-collapse: collapse;
}

form.report table th,
form.report table td {
    width: 16%;
}

form.report table ul {
    padding: 0;
    margin: 0;
}

form.report table.fields {
   margin-left: 25px;
}

form.report table th span {
    margin-left: 25px;
}

form.report table td {
    overflow: hidden;
}

div.leftsidebar {
    float: left;
    width: 20%;
}

div.rightsidebar,
div.rightsidebar#content-main {
    width: 79%;
    padding-left: 1%;
/*    margin-left: 1%;*/
}

div.leftsidebar div.model {
    padding-left: 0.7em;
    border: 1px dashed #5B80B2;
}

div.leftsidebar ul.fields,
div.leftsidebar ul.functions {
    padding-left: 0.4em;
}

ul li a{
    z-index: 2;
}

ul li a.ui-draggable{
    cursor: move;
}

ul li a.ui-draggable-disabled{
    cursor: default;
}

ul li a.collapsible {
    font-weight: bold;
    clear: both;
}

ul li.collapsible span.collapsible {
    cursor: pointer;
}

ul li a.using {
    color: #ccc;
    padding-right: 15px;
    background: url(using.png) center right no-repeat;
}

form.report .collapsable h2:hover {
    cursor: pointer;
}

form.report div.prefixes {
    display: none;
}

.adaptor h2.removeAdaptor {
    background: url("../img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 3em;
    padding: 2px 5px 3px;
    text-align: left;
}
.adaptor h2.removeAdaptor:hover {
    cursor: pointer;
}
.adaptor h2.mec{
    color: red !important;
}

.adaptor .collapsable {
    margin-top: 5px;
    margin-bottom: 0px;
}

div.submit-row{
    z-index: 2 !important;
}

/* ==================== */
/* = wizard droppable = */
/* ==================== */

div.droppable{
    display: none;
    position: absolute;
    text-align: center;
    opacity: 0.8;
    left: 21%;
    width: 79%;
    min-height: 300px;
    background: #efefef;
    text-align: center;
}

div.droppable.dropping{
    display: block;
}

div.droppable.void{
    z-index: -1;
}

div.droppable.dropping h2{
    position: relative;
    top: 1px;
    margin: 0 auto;
}

div.droppable.dropping_hover h2{
    color: #294e80;
}
